.aboutMe-div {
    display: block;
    margin: 50px;
    padding: 15px;
    border: 3px solid lightseagreen;
    border-radius: 20px;
    background-color: lightgreen;
    color: #131b32;
}
.aboutMe-div ol {
    text-align: left;
}
ol {
    /* display: inline-block; */
    padding: 25px;
    border: 1px solid #010101;
    border-radius: 10px;
    text-align: left;
    min-width: 20%;
    max-width: 25%;
}
#hiddenOl {
    display: inline-block;
    padding: 25px;
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: left;
    min-width: 20%;
    max-width: 33%;
    color: transparent !important;
}
span {
    display: inline-block;
}